body{
    background-image: url("https://image.noelshack.com/fichiers/2019/10/3/1551886350-geometric-3037028-1920-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container-recherche{
    width: 100vw;
    height: auto;
    margin-top: 30px;
    padding-right:0;
}

/* css carte présentation entreprise*/


.col-12{
    padding-left: 0;
}

.job-title{
    padding-top: 15px;
}

.awefont{
    display: inline;
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 15px;   
}

.col-md-4{
    margin-top:25px;
}

.icones{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start; 
    padding-inline-start: 0px;   
}

.button-details{
    text-align: right;
}



/* css fenêtre modale*/

.bloc-icones{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    font-size: 0.8em;
    color:rgb(105, 105, 105);
    margin-left:-40px;
    padding-top:20px;
    padding-left: 20px;
    padding-right: 20px;    
}

.icones-modal{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;   
}

.awefont-modal{
    display: inline;
    text-decoration: none;
    font-size: 1em;
    margin-right: 15px;
}

.modal-body{
    text-align: justify;
}

.bloc-text{
    margin-left:-20px;
}






















