body{
    background-image: url("https://image.noelshack.com/fichiers/2019/10/3/1551886350-geometric-3037028-1920-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container{
width: 60vw;
height: auto; 

padding: 30px;
margin: auto;
margin-top:30px;
}

form{
    background-color:rgba(255, 255, 255, 0.7);
    padding:20px;
}
.contact-title{
    text-align: center;
    padding-bottom: 20px;
}

