/* -- Bastien / page Outils (Tips) -- */

/* body */

.body-tips {
    background-color: grey;
    background-image: url('https://image.noelshack.com/fichiers/2019/10/3/1551886350-geometric-3037028-1920-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* cards */

.body-card-tips {
    margin: 20px 20px 0px 20px;
    padding: 0;
    text-decoration: none;
    color: black;
}

.container-cards-tips {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.card-tips {
    background-color: rgba(255,255,255, 0.2);
}

.card-tips a{
    text-decoration: none;
    color: black;
}

.card-img-tips {
    opacity: 0.8;
}

.card-tips:hover .card-img-tips{
    opacity: 1;
}

.card-title-tips {
    margin: 0;
}

.overflowed-tips {
    height: 70vh;
    overflow: scroll;
}

/* cards - modal */

.modal-header-tips {
    border-bottom: none;
}
.modal-footer-tips {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.btn-modal-footer-tips {
    margin-bottom: 20px;
}

/* text left */

.left-pic-container-tips {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 20px 40px 20px 20px;
    color: white;
    text-align: center;
    height: auto;
    height: 65vh;
}

.cont-pic-tips {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}



@media(max-width:992px){
    .media-queries-none-tips{
        display: none;
    }
}
/* footer */

.footer-icons-tips ul li {
    list-style-type: none;
}

.icons-social-network-tips {
    display: flex;
    flex-direction: row;

}

/* -- Code Sarah / page Contact and modal-recherches -- */

/* -- Code Hafid / page Recherches -- */

/* -- Code Dan / page Accueil -- */

/* footer */

#twitter{
	color: lightblue;
	background-color: white;
}
#facebook{
	color: blue;
	background-color: white;
}
#linkedin{
	color: teal;
	background-color: white;
}