<<<<<<< HEAD
.margehaute{
	margin-top: 15px;
}
#body-fond{
	background-color: grey;
	background-image: url('https://image.noelshack.com/fichiers/2019/10/3/1551886350-geometric-3037028-1920-1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
=======
/*
# bout de code à intégrer dans votre propre CSS #
# *** NE PAS PAS POINTER VERS footer.css dans vos html *** */

>>>>>>> feature/footer
#twitter{
	color: lightblue;
	background-color: white;
}
#facebook{
	color: blue;
	background-color: white;
}
#linkedin{
	color: teal;
	background-color: white;
}
<<<<<<< HEAD
=======
/* Code Bastien */
.footer-icon-tips ul li{
	list-style-type: none
}

.icons-social-network-tips{
	display: flex;
	flex-direction: row;
}
>>>>>>> feature/footer
