/*
# bout de code à intégrer dans votre propre CSS #
# *** NE PAS PAS POINTER VERS footer.css dans vos html *** */

#twitter{
	color: lightblue;
	background-color: white;
}
#facebook{
	color: blue;
	background-color: white;
}
#linkedin{
	color: teal;
	background-color: white;
}